.createYourCVLink {
  border-radius: 12px;
  color: #ffffff;
  outline: transparent;
  font-weight: 700;
  font-size: 25px;
  line-height: 2.5;
  padding: 8px 16px;
  user-select: none;
  -webkit-user-select: none;
  transition: box-shadow 0.2s ease-in-out;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  &:hover {
    box-shadow: 0 0 0.25rem #00000080, -0.125rem -0.125rem 1rem #ef476580,
      0.125rem 0.125rem 1rem #ff9a5a80;
  }
}
