.calendarGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}
