.tab {
  &.selected {
  }

  &.hidden {
    display: none;
  }
}

.delete-button {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url('../../../Styles/Assets/Images/deleteIconBlack.svg');
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-color: #afafaf;
    border-radius: 4px;
  }
}

@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
