@mixin div-same-size-as-background-img($url) {
  background-image: url($url);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.template {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  &:hover {
    transform: scale(1.05);
  }
}

.templateImage {
  width: 320px;
  height: 410px;
  &.CVTemplate1 {
    @include div-same-size-as-background-img(
      '../../../Styles/Assets/Images/Template1.png'
    );
  }
  &.CVTemplate2 {
    @include div-same-size-as-background-img(
      '../../../Styles/Assets/Images/Template2.png'
    );
  }
  &.CVTemplate3 {
    @include div-same-size-as-background-img(
      '../../../Styles/Assets/Images/Template3.png'
    );
  }
  &.CVTemplate4 {
    @include div-same-size-as-background-img(
      '../../../Styles/Assets/Images/Template4.png'
    );
  }
}

.templateName {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}
