@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
  font-size: 1rem;
  line-height: 2;
  font-family: 'Switzer-variable', sans-serif;
  @apply text-midnight;
  @apply bg-white;
  @apply transition-colors;
}

body.dark {
  @apply text-slight-gray;
  @apply bg-almost-black;
  @apply transition-colors;
}

a,
button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  font-family: 'Inter-variable', 'Unbounded-variable', sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  outline: none !important;
}

@font-face {
  font-weight: 100 900;
  src: url('./Assets/Fonts/Switzer-Variable.ttf');
  font-family: 'Switzer-variable';
}

.createYourCVLink {
  transition: box-shadow 0.2s ease-in-out;
  outline: transparent;
  border-radius: 12px;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  padding: 8px 16px;
  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
  line-height: 2.5;
  user-select: none;
  -webkit-user-select: none;
  &:hover {
    animation: rotate-box-shadow 1s ease-in-out infinite;
  }
}

@keyframes rotate-box-shadow {
  0% {
    box-shadow: 0 0 0.25rem #00000080, -0.125rem -0.125rem 1rem #ef476580,
      0.125rem 0.125rem 1rem #ff9a5a80;
  }
  50% {
    box-shadow: 0 0 0.25rem #00000080, -0.125rem -0.125rem 1rem #ff9a5a80,
      0.125rem 0.125rem 1rem #ef476580;
  }
  100% {
    box-shadow: 0 0 0.25rem #00000080, -0.125rem -0.125rem 1rem #ef476580,
      0.125rem 0.125rem 1rem #ff9a5a80;
  }
}



.privacy-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.firebase-emulator-warning {
  display: none;
}

.rcs-inner-handle {
  background-color: #d6d6d6 !important;
}

.document-display::-webkit-scrollbar {
  display: none;
}
.document-controls {
  display: flex;
  position: absolute;
  bottom: 80px;
  left: 50%;
  place-content: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}
.page-controls-navigation {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.page-controls-navigation span {
  margin: 0px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 14px;
}
.page-controls-navigation button {
  width: 40px;
  height: 40px;
}
.page-controls-navigation button:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: #e6e6e6;
}

.pdf-download {
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: url('./Assets/Images/downloadDocument.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}

.pdf-share {
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: url('./Assets/Images/share.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}

.pdf-download:hover,
.pdf-share:hover {
  background-color: #e6e6e6;
}

.documentPDFView:hover .document-controls,
.document-controls:hover {
  opacity: 1;
  z-index: 1;
}

.page-container {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(40, 1fr);
}

/* default desktop */
.page-container > * {
  grid-column: 3 / 39;
}

/* default mobile */
@media screen and (max-width: 640px) {
  .page-container > * {
    grid-column: 2 / 18;
  }
}

@media screen and (max-width: 640px) {
  .page-container {
    grid-template-columns: repeat(18, 1fr);
  }
}
.page-container.desktop_col-32 > * {
  grid-column: 5 / 37;
}

.page-container.desktop_col-28 > * {
  grid-column: 7 / 35;
}

.page-container.desktop_col-24 > * {
  grid-column: 9 / 33;
}

@media screen and (max-width: 640px) {
  .page-container.mobile_col-16 > * {
    grid-column: 2 / 18;
  }
}

.full-bleed {
  grid-column: 1 / -1 !important;
  width: 100%;
}

/* Desktop grid */
.desktop_col-32 {
  grid-column: 5 / 37 !important;
}

.desktop_col-28 {
  grid-column: 7 / 35 !important;
}

.desktop_col-24 {
  grid-column: 9 / 33 !important;
}

/* Mobile grid */
@media screen and (max-width: 640px) {
  .mobile_col-16 {
    grid-column: 2 / 18 !important;
  }

  .mobile_col-12 {
    grid-column: 3 / 17 !important;
  }

  .mobile_col-8 {
    grid-column: 5 / 15 !important;
  }
}
