.overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  z-index: 1;
  cursor: default;
  // user-select: none;
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: end;
  }
  &.bottom {
    justify-content: center;
    align-items: end;
  }
  &.top {
    justify-content: center;
    align-items: start;
  }
}

#modal-children {
  z-index: 2;
  cursor: default;
  overflow-y: auto;
}
#modal-children > * > *[class*='modal-body'] {
  flex-grow: 1;
}
