.overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  z-index: 1;
  cursor: default;
  background: rgba(17, 21, 24, 0.616);
  user-select: none;

  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: end;
  }
  &.bottom {
    justify-content: center;
    align-items: end;
  }
  &.top {
    justify-content: center;
    align-items: start;
  }
  .children {
    z-index: 2;
    cursor: default;

    // transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
  }
  .children > * {
    flex-grow: 1;
    width: 100%;
  }
  .children > * > *[class*='modal-body'] {
    flex-grow: 1;
  }
}
