.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, min(3rem, calc((100vw - 4rem) / 7)));
  grid-template-rows: repeat(6, min(3rem, calc((100vw - 4rem) / 7)));
  row-gap: 1rem;
  justify-content: center;

  .dateRange-Day {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    font-size: medium;
  }
}

.calendarGridHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
}

.dayName {
  text-align: center;
  font-size: medium;
}

.selectedDate {
  @apply bg-blue-600;
  @apply text-white;
  border-radius: 50%;
}
