@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter-variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  outline: none !important;
}

@font-face {
  font-family: 'Opensans-Regular';
  src: url('./Styles/Assets/Fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Opensans-Bold';
  src: url('./Styles/Assets/Fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Inter-variable';
  src: url('./Styles/Assets/Fonts/Inter-VariableFont.ttf');
}
