@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Unbounded-variable', sans-serif;
  font-size: 13px;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  outline: none !important;
}

@font-face {
  font-family: 'Opensans-Regular';
  src: url('./Styles/Assets/Fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Opensans-Bold';
  src: url('./Styles/Assets/Fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Unbounded-variable';
  src: url('./Styles/Assets/Fonts/Unbounded-VariableFont_wght.ttf');
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
